<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/bg1.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">

                            <label style="text-align: center"><b>$24.95 / Month</b></label>

                            <button class="btn btn-danger btn-block btn-round" (click)="btnPurchaseClick()">Purchase Now!</button>
                            <br>
                            <br>
                            <img src="../assets/img/authfoot.png" />
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{loginDate | date: 'yyyy'}} Barefeetmodels.com</h6>
                </div>
            </div>
    </div>
</div>