<video autoplay muted loop id="myVideo">
    <source src="../../assets/videos/bg-video-2.mp4" type="video/mp4"> Your browser does not support HTML5 video.
</video>
<div class="content">
    <div class="container">
        <h2>Welcome to Barefeetmodels.com, the premier feet fetish website! </h2>
        <h4>Featuring exclusive videos in high definition!</h4>
        <br /><br />
        <a [routerLink]="['/dashboard']" class="btn btn-outline-neutral btn-round">
            <i class="fa fa-play"></i> Watch video
        </a>
    </div>
</div>

<!-- <div class="page-header" data-parallax="true" style="background-image: url('../assets/img/bg1.jpg');">
    <div class="filter"></div>
    
</div> -->
<!-- 
<div class="main">
    <div class="section section-dark">
        <div class="container">
            <div class="row example-page">
                <div class="col-md-6 text-center" routerLinkActive="active">
                    <a [routerLink]="['/login']">
                        <img src="../../assets/img/examples/e1.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                        <p>Haylie was a ballerina and gymnast ! Her feet are breath taking she’s a 19 year old college girl and model ! It’s like a Barbie doll came to life and took off her shoes ! In this video I pour baby oil gel all over her feet as she shows off her incredible toe spread and tight scrunches </p>
                    </a>
                </div>

                <div class="col-md-6 text-center" routerLinkActive="active">
                    <a [routerLink]="['/login']">
                        <img src="../../assets/img/examples/e2.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                        <p>This is Nicole from the video “ super sole show “ I shot this so her fans can get the full effect of how amazing here feet are . She’s a 19 ur old babe with size 9 soles !</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->