<div class="main">
    <div class="section section-dark">
        <div class="container">
            <br>
            <br>
            <ul id="videoList">
                <li *ngFor="let video of videos">
                    <a [routerLink]="['/dashboardDetail',video.id]">
                        <img src="{{video.fileGifUrl}}" class="tn" width="200" height="160">
                    </a>
                </li>
            </ul>
            <div class="text-center">
                <button class="btn btn-success btn-round" id="btnLoadMoreVideos" (click)="btnLoadMoreVideosClick()">Load more videos...</button>
            </div>
        </div>
    </div>
</div>